@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Source+Sans+Pro&family=Fira+Code&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Noto Sans TC', 'Source Sans Pro', 'Microsoft JhengHei', serif;
}

body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 97vh;
}

h1 {
    width: max-content;
    margin: auto;
}

header {
    /*flex: 1;*/
    width: max-content;
    margin: 20px auto;
}

footer {
    /*flex: 1;*/
    width: max-content;
    margin: 5px 60px auto auto;
    display: flex;
}

footer > .create-by {
    color: cornflowerblue;
    margin: auto auto 0 auto;
}

textarea {
    flex: 50%;
    height: 100%;
    width: 100%;
    resize: none;
    font-size: large;
    background-color: #282c34;
    color: whitesmoke;
    border: 0;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 3px 4px 0px gray;
}

div#viewMD {
    background-color: white;
    color: black;
    border: 0;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 3px 4px 0px gray;
    flex: 50%;
    height: 100%;
    width: 100%;
    font-size: medium;
    text-align: start;
    overflow: auto;
}

div#viewMD * {
    width: auto;
    word-wrap: break-word;
    margin: 0 0 5px 0;
}

.lbox {
    margin-left: auto;
    margin-right: 0.5vw;
}

.rbox {
    margin-left: 0.5vw;
    margin-right: auto;
}

.box {
    width: 45vw;
    height: 100%;
}

.containers {
    flex: auto;
    display: flex;
    height: 73vh;
    margin: auto;
    width: 95vw;
}

.action-box {
    display: flex;
    margin: 15px auto auto auto
}

.action-box > button {
    margin: auto 5px;
    border-radius: 10px;
    background-color: white;
}

.action-box > button:hover {
    background-color: limegreen;
    color: black;
}

.action-box > button#delBtn:hover {
    background-color: red;
    color: black;
}

header {
    display: flex;
    width: 90vw;
    text-align: center;
}

header > div.lspace {
    flex: 1;
}

header > div.cspace {
    flex: 2;
    margin: auto;
}

header > div.rspace {
    flex: 1;
    display: flex;
}

body > div.links a {
    margin: auto 6px;
}

body > div.links {
    margin: 0 auto 13px auto;
}

header div.links a {
    margin: auto;
    width: max-content;
    height: min-content;
}

header div.links p {
    margin: auto;
    width: max-content;
    height: min-content;
}

header > div.rspace > div.space {
    flex: 3;
}

header > div.rspace > div.links {
    flex: 2;
    display: flex;
}

pre {
    background-color: lightgray;
    padding: 5px;
}

pre > code {
    font-family: 'Fira Code', 'Noto Sans TC', 'Source Sans Pro', 'Microsoft JhengHei', monospace;
}