<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|[Edit] ${page.getTitle()} - Markdown Pages|"></title>

    <!-- Primary Meta Tags -->
    <meta name="title" th:content="|[Edit] ${page.getTitle()} - Markdown Pages|">
    <meta content="Using an easily and quickly way to share your pages written with Markdown" name="description">

    <!-- Open Graph / Facebook -->
    <meta content="website" property="og:type">
    <meta property="og:url" th:content="|http://mdp.weikeup.cc@{/e}${page.getId()}|">
    <meta property="og:title" th:content="|[Edit] ${page.getTitle()} - Markdown Pages|">
    <meta content="Using an easily and quickly way to share your pages written with Markdown" property="og:description">
    <meta content="" property="og:image">

    <!-- Twitter -->
    <meta content="summary_large_image" property="twitter:card">
    <meta property="twitter:url" th:content="|http://mdp.weikeup.cc@{/e}${page.getId()}|">
    <meta property="twitter:title" th:content="|[Edit] ${page.getTitle()} - Markdown Pages|">
    <meta content="Using an easily and quickly way to share your pages written with Markdown"
          property="twitter:description">
    <meta content="" property="twitter:image">

    <script th:src="@{/webjars/axios/dist/axios.min.js}"></script>
    <script th:src="@{/webjars/markdown-it/dist/markdown-it.min.js}"></script>

    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body onload="parseMD()">
<header>
    <div class="lspace"></div>
    <div class="cspace">
        <h1>Markdown Pages</h1>
    </div>
    <div class="rspace">
        <div class="space"></div>
        <div class="links" style="display: none;">
            <a th:href="@{/register}">Register</a>
            <p>/</p>
            <a th:href="@{/signin}">Sign In</a>
        </div>
    </div>
</header>

<div class="links">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/exp}">Explore</a>
    <a th:href="@{/about}">About</a>
</div>

<div class="containers">
    <div class="container box lbox">
        <textarea id="rawMD" oninput="parseMD()" placeholder="# Title here

Start to write something with Markdown !
" th:text="${page.getContent()}"></textarea>
    </div>
    <div class="container box rbox">
        <div id="viewMD" readonly></div>
    </div>
</div>

<div class="action-box">
    <button id="postBtn" onclick="postMDP()">Save</button>
    <button id="delBtn" onclick="delMDP()">Delete</button>
</div>

<footer>
    <div class="create-by">This website is created by <a href="https://t.me/Weikeup">@Weikeup</a></div>
</footer>

<script th:inline="javascript">
    function postMDP() {
        const postBtn = document.querySelector("button#postBtn")
        postBtn.innerHTML = "Saving..."
        const rawMD = document.querySelector("textarea#rawMD").value
        const path = /*[[|@{/}e${page.getId()}|]]*/ "/"
        axios.post(path, {
            "rawMD": rawMD
        }).then(function (resp) {
            postBtn.innerHTML = "Saved successfully!"
            window.location.href = /*[[|@{/}p${page.getId()}|]]*/ "/"
        }).catch(function (error) {
            postBtn.innerHTML = "Save failed! Try again"
            console.log(error)
        })
    }

    function delMDP() {
        if (confirm("Are you sure you want to delete this page?")) {
            const delBtn = document.querySelector("button#delBtn")
            delBtn.innerHTML = "Deleting..."
            const path = /*[[|@{/}e${page.getId()}|]]*/ "/"
            axios.delete(path).then(function (resp) {
                delBtn.innerHTML = "Deleted successfully!"
                window.location.href = /*[[@{/exp}]]*/ "/"
            }).catch(function (error) {
                delBtn.innerHTML = "Delete failed! Try again"
                console.log(error)
            })
        }
    }

    function parseMD() {
        const md = window.markdownit()
        const rawMD = document.querySelector("textarea#rawMD").value
        const htmlMD = md.render(rawMD)
        document.querySelector("div#viewMD").innerHTML = htmlMD
    }
</script>

</body>
</html>