<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Explore Pages - Markdown Pages</title>

    <!-- Primary Meta Tags -->
    <meta content="Explore Pages - Markdown Pages" name="title">
    <meta content="Using an easily and quickly way to share your pages written with Markdown" name="description">

    <!-- Open Graph / Facebook -->
    <meta content="website" property="og:type">
    <meta property="og:url" th:content="|http://mdp.weikeup.cc@{/exp}|">
    <meta content="Explore Pages - Markdown Pages" property="og:title">
    <meta content="Using an easily and quickly way to share your pages written with Markdown" property="og:description">
    <meta content="" property="og:image">

    <!-- Twitter -->
    <meta content="summary_large_image" property="twitter:card">
    <meta property="twitter:url" th:content="|http://mdp.weikeup.cc@{/exp}|">
    <meta content="Explore Pages - Markdown Pages" property="twitter:title">
    <meta content="Using an easily and quickly way to share your pages written with Markdown"
          property="twitter:description">
    <meta content="" property="twitter:image">

    <link rel="stylesheet" th:href="@{/main.css}">
    <style>
        .box {
            width: 70vw;
            height: 100%;
            margin: auto;
        }

        .containers {
            flex: auto;
            display: flex;
            height: 73vh;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <div class="lspace"></div>
    <div class="cspace">
        <h1>Markdown Pages</h1>
    </div>
    <div class="rspace">
        <div class="space"></div>
        <div class="links" style="display: none;">
            <a th:href="@{/register}">Register</a>
            <p>/</p>
            <a th:href="@{/signin}">Sign In</a>
        </div>
    </div>
</header>

<div class="links">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/exp}">Explore</a>
    <a th:href="@{/about}">About</a>
</div>

<div class="containers">
    <div class="container box">
        <div class="list" th:each="page : ${pages}">
            <li>
                <a th:href="@{/p} + ${page.getId()}" th:text="${page.getTitle()}"></a>
            </li>
        </div>
    </div>
</div>

<footer>
    <div class="create-by">This website is created by <a href="https://t.me/Weikeup">@Weikeup</a></div>
</footer>

</body>
</html>