<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Markdown Pages</title>

    <!-- Primary Meta Tags -->
    <meta content="Markdown Pages" name="title">
    <meta content="Using an easily and quickly way to share your pages written with Markdown" name="description">

    <!-- Open Graph / Facebook -->
    <meta content="website" property="og:type">
    <meta property="og:url" th:content="|http://mdp.weikeup.cc@{/}|">
    <meta content="Markdown Pages" property="og:title">
    <meta content="Using an easily and quickly way to share your pages written with Markdown" property="og:description">
    <meta content="" property="og:image">

    <!-- Twitter -->
    <meta content="summary_large_image" property="twitter:card">
    <meta property="twitter:url" th:content="|http://mdp.weikeup.cc@{/}|">
    <meta content="Markdown Pages" property="twitter:title">
    <meta content="Using an easily and quickly way to share your pages written with Markdown"
          property="twitter:description">
    <meta content="" property="twitter:image">

    <script th:src="@{/webjars/axios/dist/axios.min.js}"></script>
    <script th:src="@{/webjars/markdown-it/dist/markdown-it.min.js}"></script>

    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<header>
    <div class="lspace"></div>
    <div class="cspace">
        <h1>Markdown Pages</h1>
    </div>
    <div class="rspace">
        <div class="space"></div>
        <div class="links" style="display: none;">
            <a th:href="@{/register}">Register</a>
            <p>/</p>
            <a th:href="@{/signin}">Sign In</a>
        </div>
    </div>
</header>

<div class="links">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/exp}">Explore</a>
    <a th:href="@{/about}">About</a>
</div>

<div class="containers">
    <div class="container box lbox">
        <textarea id="rawMD" oninput="parseMD()" placeholder="# Title here

Start to write something with Markdown !
"></textarea>
    </div>
    <div class="container box rbox">
        <div id="viewMD" readonly></div>
    </div>
</div>

<div class="action-box">
    <button id="postBtn" onclick="postMDP()">Post Markdown Page</button>
</div>

<footer>
    <div class="create-by">This website is created by <a href="https://t.me/Weikeup">@Weikeup</a></div>
</footer>

<script th:inline="javascript">
    function postMDP() {
        const postBtn = document.querySelector("button#postBtn")
        postBtn.innerHTML = "Posting..."
        const rawMD = document.querySelector("textarea#rawMD").value
        const path = /*[[@{/}]]*/ "/"
        axios.post(path, {
            "rawMD": rawMD
        }).then(function (resp) {
            postBtn.innerHTML = "Post Success!"
            window.location.href = path + resp.data
        }).catch(function (error) {
            postBtn.innerHTML = "Post Fail! Try again"
            console.log(error)
        })
    }

    function parseMD() {
        const md = window.markdownit()
        const rawMD = document.querySelector("textarea#rawMD").value
        const htmlMD = md.render(rawMD)
        document.querySelector("div#viewMD").innerHTML = htmlMD
    }
</script>

</body>
</html>