<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${page.getTitle()} - Markdown Pages|"></title>

    <!-- Primary Meta Tags -->
    <meta name="title" th:content="|${page.getTitle()} - Markdown Pages|">
    <meta content="Using an easily and quickly way to share your pages written with Markdown" name="description">

    <!-- Open Graph / Facebook -->
    <meta content="website" property="og:type">
    <meta property="og:url" th:content="|http://mdp.weikeup.cc@{/p}${page.getId()}|">
    <meta property="og:title" th:content="|${page.getTitle()} - Markdown Pages|">
    <meta content="Using an easily and quickly way to share your pages written with Markdown" property="og:description">
    <meta content="" property="og:image">

    <!-- Twitter -->
    <meta content="summary_large_image" property="twitter:card">
    <meta property="twitter:url" th:content="|http://mdp.weikeup.cc@{/p}${page.getId()}|">
    <meta property="twitter:title" th:content="|${page.getTitle()} - Markdown Pages|">
    <meta content="Using an easily and quickly way to share your pages written with Markdown"
          property="twitter:description">
    <meta content="" property="twitter:image">

    <script th:src="@{/webjars/markdown-it/dist/markdown-it.min.js}"></script>

    <link rel="stylesheet" th:href="@{/main.css}">
    <style>
        .box {
            width: 70vw;
            height: 100%;
            margin: auto;
        }

        .containers {
            flex: auto;
            display: flex;
            height: 73vh;
            margin: auto;
        }

        .action-box {
            display: flex;
            margin: 15px auto auto auto;
            width: 69vw;
        }

        .action-box button.edit {
            border-radius: 10px;
            background-color: white;
            margin: auto 10px auto auto;
            width: 10em;
        }

        .action-box button.edit:hover {
            background-color: yellow;
            color: black;
        }

        .action-box p {
            margin: auto 20px auto 0px;
        }
    </style>
</head>
<body onload="parseMD()">
<header>
    <div class="lspace"></div>
    <div class="cspace">
        <h1>Markdown Pages</h1>
    </div>
    <div class="rspace">
        <div class="space"></div>
        <div class="links" style="display: none;">
            <a th:href="@{/register}">Register</a>
            <p>/</p>
            <a th:href="@{/signin}">Sign In</a>
        </div>
    </div>
</header>

<div class="links">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/exp}">Explore</a>
    <a th:href="@{/about}">About</a>
</div>

<div class="containers">
    <div class="container box">
        <div hidden id="rawMD" th:text="${page.getContent()}"></div>
        <div id="viewMD"></div>
    </div>
</div>

<div class="action-box">
    <p class="author">Author: <span th:text="${author}"></span></p>
    <p class="totaled-views">Totaled views: <span th:text="${page.getNumOfViews()}"></span></p>
    <button class="edit" onclick="goEdit()" th:if="${canEdit}">Edit</button>
</div>

<footer>
    <div class="create-by">This website is created by <a href="https://t.me/Weikeup">@Weikeup</a></div>
</footer>

<script th:inline="javascript">
    function parseMD() {
        const md = window.markdownit()
        const rawMD = document.querySelector("div#rawMD")
        const htmlMD = md.render(rawMD.innerHTML)
        document.querySelector("div#viewMD").innerHTML = htmlMD
        rawMD.innerHTML = ""
    }

    function goEdit() {
        const path = /*[[@{/} + 'e' + ${page.getId()}]]*/ "/"
        window.location.href = path
    }
</script>

</body>
</html>